<h1>Исследование данных об инвестиции венчурных фондов в компании-стартапы<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Задача" data-toc-modified-id="Задача-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-19"><span class="toc-item-num">19&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-20"><span class="toc-item-num">20&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-21"><span class="toc-item-num">21&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-22"><span class="toc-item-num">22&nbsp;&nbsp;</span>Задача</a></span></li><li><span><a href="#Задача" data-toc-modified-id="Задача-23"><span class="toc-item-num">23&nbsp;&nbsp;</span>Задача</a></span></li></ul></div>

# Задачи SQL   

**В самостоятельном проекте нужно проанализировать данные о фондах и инвестициях и написать запросы к базе.**

In [9]:
from IPython.display import Image

In [10]:
import warnings
warnings.filterwarnings('ignore')

# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [11]:
![](https://pictures.s3.yandex.net/resources/13_border2880_1628581406.png)

"[]" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

# Таблицы:

**acquisition**  
Содержит информацию о покупках одних компаний другими.  

Таблица включает такие поля:   
- первичный ключ id — идентификатор или уникальный номер покупки;  
- внешний ключ acquiring_company_id — ссылается на таблицу company — идентификатор компании-покупателя, то есть той, что покупает  другую компанию;  
- внешний ключ acquired_company_id — ссылается на таблицу company — идентификатор компании, которую покупают;   
- term_code — способ оплаты сделки:   
  - cash — наличными;  
  - stock — акциями компании;  
  - cash_and_stock — смешанный тип оплаты: наличные и акции.  
- price_amount — сумма покупки в долларах;  
- acquired_at — дата совершения сделки;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

**company**  
Содержит информацию о компаниях-стартапах.  

- первичный ключ id — идентификатор, или уникальный номер компании;  
- name — название компании;  
- category_code — категория деятельности компании, например:  
  - news — специализируется на работе с новостями;  
  - social — специализируется на социальной работе.  
- status — статус компании:  
  - acquired — приобретена;  
  - operating — действует;  
  - ipo — вышла на IPO;  
  - closed — перестала существовать.  
- founded_at — дата основания компании;  
- closed_at — дата закрытия компании, которую указывают в том случае, если компании больше не существует;  
- domain — домен сайта компании;  
- twitter_username — название профиля компании в твиттере;  
- country_code — код страны, например, USA для США, GBR для Великобритании;  
- investment_rounds — число раундов, в которых компания участвовала как инвестор;  
- funding_rounds — число раундов, в которых компания привлекала инвестиции;  
- funding_total — сумма привлечённых инвестиций в долларах;  
- milestones — количество важных этапов в истории компании;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

**education**  
Хранит информацию об уровне образования сотрудников компаний.  

- первичный ключ id — уникальный номер записи с информацией об образовании;  
- внешний ключ *person_id* — ссылается на таблицу **people** — идентификатор человека, информация о котором представлена в записи;  
- degree_type — учебная степень, например:  
  - BA — Bachelor of Arts — бакалавр гуманитарных наук;  
  - MS — Master of Science — магистр естественных наук.  
- instituition — учебное заведение, название университета;  
- graduated_at — дата завершения обучения, выпуска;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

**fund**  
Хранит информацию о венчурных фондах.  

- первичный ключ id — уникальный номер венчурного фонда;  
- name — название венчурного фонда;  
- founded_at — дата основания фонда;  
- domain — домен сайта фонда;  
- twitter_username — профиль фонда в твиттере;  
- country_code — код страны фонда;  
- investment_rounds — число инвестиционных раундов, в которых фонд принимал участие;  
- invested_companies — число компаний, в которые инвестировал фонд;  
- milestones — количество важных этапов в истории фонда;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

**funding_round**  
Содержит информацию о раундах инвестиций.  

- первичный ключ id — уникальный номер инвестиционного раунда;  
- внешний ключ *company_id* — ссылается на таблицу **company** — уникальный номер компании, участвовавшей в инвестиционном раунде;  
funded_at — дата проведения раунда;  
- funding_round_type — тип инвестиционного раунда, например:  
  - venture — венчурный раунд;  
  - angel — ангельский раунд;  
  - series_a — раунд А.  
- raised_amount — сумма инвестиций, которую привлекла компания в этом раунде в долларах;  
- pre_money_valuation — предварительная, проведённая до инвестиций оценка стоимости компании в долларах;  
- participants — количество участников инвестиционного раунда;  
- is_first_round — является ли этот раунд первым для компании;  
- is_last_round — является ли этот раунд последним для компании;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

**investment**  
Содержит информацию об инвестициях венчурных фондов в компании-стартапы.  

- первичный ключ id — уникальный номер инвестиции;  
- внешний ключ funding_round_id — ссылается на таблицу funding_round — уникальный номер раунда инвестиции;  
- внешний ключ company_id — ссылается на таблицу company — уникальный номер компании-стартапа, в которую инвестируют;  
- внешний ключ fund_id — ссылается на таблицу fund — уникальный номер фонда, инвестирующего в компанию-стартап;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

**people**  
Содержит информацию о сотрудниках компаний-стартапов.  

- первичный ключ id — уникальный номер сотрудника;  
- first_name — имя сотрудника;  
- last_name — фамилия сотрудника;  
- внешний ключ company_id — ссылается на таблицу company — уникальный номер компании-стартапа;  
- twitter_username — профиль сотрудника в твиттере;  
- created_at — дата и время создания записи в таблице;  
- updated_at — дата и время обновления записи в таблице.

## Задача  

Посчитайте, сколько компаний закрылось.

In [ ]:
SELECT COUNT(status) AS company_closed
FROM company
WHERE status = 'closed';

Результат
company_closed
2584

## Задача  

Отобразите количество привлечённых средств для новостных компаний США.  
Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле funding_total.

In [ ]:
SELECT funding_total
FROM company
WHERE country_code = 'USA'
    AND category_code = 'news' 
ORDER BY funding_total DESC;

Результат
funding_total
6.22553e+08
2.5e+08
1.605e+08
1.28e+08
1.265e+08

## Задача  

Найдите общую сумму сделок по покупке одних компаний другими в долларах.  
Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

In [ ]:
SELECT SUM(price_amount) AS sum_cash_2011_13
FROM acquisition
WHERE EXTRACT(YEAR FROM cast(acquired_at AS date)) BETWEEN '2011' AND '2013'
    AND term_code = 'cash' 

Результат
sum_cash_2011_13
1.37762e+11

## Задача  

Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.

In [ ]:
SELECT first_name,
       last_name,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%'

Результат
sum_cash_2011_13
1.37762e+11

## Задача  

Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.

In [ ]:
SELECT *
FROM people
WHERE twitter_username LIKE '%money%'
     AND last_name LIKE 'K%'

Результат
id	first_name	last_name	company_id	twitter_username	created_at	updated_at
63081	Gregory	Kim		gmoney75	2010-07-13 03:46:28	2011-12-12 22:01:34

## Задача   

Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

In [ ]:
SELECT country_code,
       SUM(funding_total) 
FROM company
GROUP BY country_code
ORDER BY SUM(funding_total) DESC;

Результат
country_code	sum
USA	3.10588e+11
...
ZWE	0

## Задача  

Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

In [ ]:
SELECT CAST(funded_at AS date),
       MIN(raised_amount),
       MAX(raised_amount)
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <> MAX(raised_amount) 
    AND MIN(raised_amount) <> 0;

    Результат
funded_at	min	max
2012-08-22	40000	7.5e+07
...

## Задача  

Создайте поле с категориями:  
 - Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.  
 - Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.  
 - Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.  

Отобразите все поля таблицы fund и новое поле с категориями.

In [ ]:
select *,
       CASE WHEN invested_companies>=100 THEN 'high_activity'
            WHEN invested_companies>=20 THEN 'middle_activity'
            ELSE 'low_activity'
       END AS activity
FROM fund

Результат
id	name	founded_at	domain	twitter_username	country_code	investment_rounds	invested_companies	milestones	created_at	updated_at	activity
13131

## Задача  


Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

In [ ]:
SELECT 
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity,
       ROUND(AVG(investment_rounds))
FROM fund
GROUP BY activity
ORDER BY ROUND(AVG(investment_rounds)),
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END;
    
Результат
activity	round
low_activity	2
middle_activity	51
high_activity	252

## Задача  

Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.  

Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Выгрузите десять самых активных стран-инвесторов.  

Отсортируйте таблицу по среднему количеству компаний от большего к меньшему, а затем по коду страны в лексикографическом порядке.

In [ ]:
SELECT country_code,
       MIN(invested_companies) AS min_inv_comp,
       MAX(invested_companies) AS max_inv_comp,
       AVG(invested_companies) AS avg_inv_comp
FROM fund
WHERE EXTRACT(YEAR FROM cast(founded_at AS date)) BETWEEN '2010' AND '2012'
GROUP BY country_code
HAVING MIN(invested_companies)<>0
ORDER BY avg_inv_comp DESC 
limit 10;

Результат
country_code	min_inv_comp	max_inv_comp	avg_inv_comp
BGR	25	35	30
CHL	29	29	29
....

## Задача   

Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

In [ ]:
SELECT first_name,
       last_name,
       instituition
FROM people AS p
LEFT JOIN education AS e ON p.id=e.person_id

Результат
first_name	last_name	instituition
John	Green	Washington University, St. Louis
...

## Задача  


Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

In [ ]:
SELECT c.name,
       COUNT(DISTINCT instituition) AS count_instituition
FROM people AS P
JOIN education AS e ON p.id = e.person_id
JOIN  company AS c ON c.id = p.company_id
GROUP BY c.name
ORDER BY count_instituition DESC
LIMIT 5;

Результат
name	count_instituition
Google	167
Yahoo!	115
Microsoft	111
Knight Foundation	74
Comcast	66

## Задача  

Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

In [ ]:
SELECT DISTINCT c.name
FROM company AS c
LEFT JOIN funding_round AS fr ON c.id = fr.company_id
WHERE c.status = 'closed'
    AND fr.is_first_round = 1
    AND fr.is_last_round = 1
    
Результат
name
10BestThings
11i Solutions
...

## Задача   

Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

In [ ]:
WITH table_1 AS
(SELECT DISTINCT c.name
FROM company AS c
LEFT JOIN funding_round AS fr ON c.id = fr.company_id
WHERE c.status = 'closed'
    AND fr.is_first_round = 1
    AND fr.is_last_round = 1)
    
SELECT DISTINCT p.id
FROM people AS p
JOIN company AS com ON p.company_id = com.id
WHERE com.name IN (select * from table_1);

Результат
id
38334
43498
113792
55835
...

## Задача  

Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

In [ ]:
SELECT DISTINCT p.id,
       e.instituition
FROM people AS p
JOIN education AS e ON p.id = e.person_id
WHERE company_id IN (SELECT id
        FROM company
        WHERE id IN (SELECT company_id
                FROM funding_round
                WHERE is_first_round = 1
                AND is_last_round = 1)
        AND status = 'closed');

Результат
id	instituition
349	AKI
349	ArtEZ Hogeschool voor de Kunsten

## Задача   

Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания. При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды.

In [ ]:
SELECT p.id, 
       COUNT(e.instituition) AS total_instituition
FROM people AS p JOIN education AS e ON p.id = e.person_id
WHERE company_id IN (SELECT id
        FROM company
        WHERE id IN (SELECT company_id
                FROM funding_round
                WHERE is_first_round = 1
                AND is_last_round = 1)
        AND status = 'closed')
GROUP BY p.id;

Результат
id	total_instituition
349	3
699	1
...

## Задача  

Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

In [ ]:
SELECT AVG(res.total_instituition) 
FROM 
(SELECT p.id, 
        COUNT(e.instituition) AS total_instituition
        FROM people AS p 
        JOIN education AS e ON p.id = e.person_id
        WHERE company_id IN (SELECT id
            FROM company
            WHERE id IN (SELECT company_id
                FROM funding_round
                WHERE is_first_round = 1
                AND is_last_round = 1)
        AND status = 'closed')
GROUP BY p.id) AS res;

Результат
avg
1.41509

## Задача  

Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook*.  
*(сервис, запрещённый на территории РФ)

In [ ]:
SELECT AVG(res.total_instituition) 
FROM 
(SELECT p.id, 
        COUNT(e.instituition) AS total_instituition
        FROM people AS p 
        JOIN education AS e ON p.id = e.person_id
        WHERE company_id IN (SELECT id
                           FROM company 
                           WHERE name in ('Facebook'))
GROUP BY p.id) AS res;

Результат
avg
1.51111

## Задача  

Составьте таблицу из полей:  
 - name_of_fund — название фонда;  
 - name_of_company — название компании;  
 - amount — сумма инвестиций, которую привлекла компания в раунде.  

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

In [ ]:
WITH 
f AS (SELECT id AS fund_id,
             name AS fund_name,
             milestones
      FROM fund),
fr AS (SELECT company_id,
              raised_amount,
              id,
              funded_at
       FROM funding_round
       WHERE EXTRACT(year FROM funded_at) BETWEEN 2012 AND 2013),
c AS (SELECT id AS company_id,
             name AS company_name
      FROM company
      WHERE milestones > 6)
SELECT f.fund_name AS name_of_fund,
       c.company_name AS name_of_company,
       fr.raised_amount AS amount     
FROM investment i JOIN f ON i.fund_id=f.fund_id JOIN fr ON i.funding_round_id=fr.id
JOIN c ON i.company_id=c.company_id;

Результат
name_of_fund	name_of_company	amount
SAP Ventures	OpenX	2.50112e+07
...

## Задача   

Выгрузите таблицу, в которой будут такие поля:  
 - название компании-покупателя;  
 - сумма сделки;  
 - название компании, которую купили;  
 - сумма инвестиций, вложенных в купленную компанию;  
 - доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.  
 
Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.  

Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями.

In [ ]:
SELECT c.name AS acquiring_company_id,
       a.price_amount AS price_amount,
       c_1.name AS acquired_company_id,
       c_1.funding_total,
       ROUND(price_amount / c_1.funding_total) AS share
FROM acquisition AS a
LEFT JOIN company AS c ON a.acquiring_company_id = c.id
LEFT JOIN company AS c_1 ON a.acquired_company_id = c_1.id
WHERE price_amount <> 0
  AND c_1.funding_total <> 0
ORDER BY price_amount DESC,
         acquired_company_id 
LIMIT 10;

Результат
acquiring_company_id	price_amount	acquired_company_id	funding_total	share
Microsoft	8.5e+09	Skype	7.6805e+07	111
...

## Задача  

Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно. Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.

In [ ]:
SELECT c.name AS category_name,
       EXTRACT(MONTH FROM CAST(fr.funded_at AS date)) AS month     
FROM funding_round AS fr 
LEFT JOIN company AS c ON fr.company_id = c.id
WHERE EXTRACT(YEAR FROM cast(fr.funded_at AS date)) BETWEEN '2010' AND '2013'
     AND c.category_code = 'social'
    
Результат
category_name	month
Klout	1
WorkSimple	3
...

## Задача  

Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:  
 - номер месяца, в котором проходили раунды;  
 - количество уникальных названий фондов из США, которые инвестировали в этом месяце;  
 - количество компаний, купленных за этот месяц;  
 - общая сумма сделок по покупкам в этом месяце.

In [ ]:
WITH table_1 AS
  (SELECT EXTRACT(MONTH
                  FROM fr.funded_at) AS month_1,
          COUNT(DISTINCT f.name) AS uniq
   FROM funding_round AS fr
   LEFT JOIN investment AS i ON fr.id = i.funding_round_id
   LEFT JOIN fund AS f ON f.id = i.fund_id
   WHERE EXTRACT(YEAR
                 FROM fr.funded_at) BETWEEN 2010 AND 2013
     AND f.country_code = 'USA'
   GROUP BY month_1),
     table_2 AS
  (SELECT EXTRACT(MONTH
                  FROM a.acquired_at) AS month_2,
          COUNT(a.acquired_company_id) AS comp,
          SUM(a.price_amount) AS summa
   FROM acquisition AS a
   WHERE EXTRACT(YEAR
                 FROM a.acquired_at) BETWEEN 2010 AND 2013
   GROUP BY month_2)
SELECT table_1.month_1,
       table_1.uniq,
       table_2.comp,
       table_2.summa
FROM table_1
JOIN table_2 ON table_1.month_1 = table_2.month_2

Результат
month_1	uniq	comp	summa
1	815	600	2.71083e+10
...

## Задача  

Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

In [ ]:
WITH
table_1 AS (SELECT country_code,
                   AVG(funding_total) as avg_2011
            FROM company
            WHERE EXTRACT(YEAR FROM founded_at) = 2011
            GROUP BY country_code),
table_2 AS (SELECT country_code,
                   AVG(funding_total) as avg_2012
            FROM company
            WHERE EXTRACT(YEAR FROM founded_at) = 2012
            GROUP BY country_code),
table_3 AS (SELECT country_code,
                   AVG(funding_total) as avg_2013
            FROM company
            WHERE EXTRACT(YEAR FROM founded_at) = 2013
            GROUP BY country_code) 
            
SELECT (table_1.country_code) as country,
       table_1.avg_2011,
       table_2.avg_2012,
       table_3.avg_2013
FROM table_1 LEFT JOIN table_2 ON table_1.country_code=table_2.country_code
JOIN table_3 ON table_2.country_code=table_3.country_code
ORDER BY table_1.avg_2011 DESC;

Результат
country	avg_2011	avg_2012	avg_2013
PER	4e+06	41000	25000
...